.photos-list-item {
    min-height: 100;
    background-color: white;
    margin-bottom:5;
}

.photos-list-item .photo-metadata {
    background-color: #eeeeee;
    padding-left: 10;
    padding-right: 10;
    min-height: 50;

}
.photo-metadata .author-name {
}
.photo-metadata .number-likes-container {
    /*font-weight: 900;*/
    color: #ed0000
}

#photos-list {
    width: 100%;
}

.authorName {
    color: red;
}
